<header>
  <h1>Invoice</h1>
  <div *ngIf="invoiceResponse" class="responseStatus">
    <p><b>Invoice number:</b> {{ invoiceResponse.invoiceNumber }}</p>
    <p><b>Issued on:</b> {{ invoiceResponse.issuedOn | date: "dd/MM/yyyy" }}</p>
  </div>
  <div class="storeInfo">
    <div class="user">
      <h3>Alen Smith</h3>
      <p>25/07/1980</p>
      <p>Passport: B0987987</p>
      <p>Issuing country: Italy</p>
      <p>Residency country: Switzerland</p>
    </div>
    <div class="address">
      <h3>Blue Apparell</h3>
      <p>07647380968</p>
      <p>Via Milano, 1</p>
      <p>20091 Milano - IT</p>
    </div>
  </div>
</header>
