$blue-primary: #0177d6;

.invoiceForm {
  margin: 50px auto 0;
  max-width: 1220px;
}

.tableBody .productItem > div,
.tableHeader {
  & > * {
    flex: 1;
    padding: 0 5px;

    &.small { flex: .5}
    &.large { flex: 2}

    input {
      width: 100%;
    }
  }
}

.tableHeader {
  padding: 10px 0;
  font-weight: 800;
  display: flex;

  span {
    // flex: 1;

    // &.small { flex: .25}
    // &.large { flex: 2}

    small {
      color: gray;
      font-weight: 600;
    }
  }
}

.tableBody {
  .productList {
    position: relative;
    border: 1px solid #c0c0c0;
    border-width: 1px 0;
    padding: 10px 0;
    .productItem {
      padding: 6px;

      & > div {
        display: flex;
        align-items: center;

        .delProduct {
          text-align: center;

          span {
            background: #e33044;
            color: white;
          }
        }

        &.price input {
          text-align: right;
        }
      }
    }
    .addItem {
      position: absolute;
      right: 0;
      bottom: -15px;

      span {
        background-color: $blue-primary;
        color: white;
      }
    }
  }
  .finishInvoice {
    max-width: 250px;
    margin-left: auto;
    margin-top: 20px;

    h3 {
      font-weight: 600;
      margin: 0;
      padding: 0.7rem;

      span {
        float: right;
        max-width: 100px;

        input {
          width: 100%;
          text-align: right;
        }
      }

      &.total {
        background-color: #d5e7bd;
      }
    }
    .roundCents {
      color: $blue-primary;

      &:hover {
        background-color: $blue-primary;
        color: white;
      }
    }
  }
  .sendInvoice {
    border-top: 2px solid gray;
    margin-top: 30px;
    padding-top: 15px;
    text-align: center;

    .btn {
      background-color: $blue-primary;
      color: white;

      &:disabled {
        opacity: .5;
        cursor: default;
      }
    }
  }
}
